.app 
{
    width: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
}
.main
{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 1024px){
    .app
    {
        grid-template-columns: 1fr;
    }
    .main
    {
        margin-top: 20px;
        height: 100vh;
    }
}